@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap&subset=latin-ext');

$main-color-darkMode: rgba(250, 250, 250, 1.0);
$main-bgColor-darkMode: rgba(50, 50, 50, 1.0);

$main-color-lightMode: rgba(50, 50, 50, 1.0);
$main-bgColor-lightMode: rgba(250, 250, 250, 1.0);